# Тема “Вычисления с помощью Numpy”

<b>Задание 1</b>
Импортируйте библиотеку Numpy и дайте ей псевдоним np.
Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк и 2 столбцов. Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй - числа 6, 8, 11, 10, 7. Будем считать, что каждый столбец - это признак, а строка - наблюдение. Затем найдите среднее значение по каждому признаку, используя метод mean массива Numpy. Результат запишите в массив mean_a, в нем должно быть 2 элемента.

In [31]:
import numpy as np
a = np.array ([[1,6],[2,8],[3,11],[3,10],[1,7]],dtype=np.float64)
mean_a = np.mean(a,axis=0)
print("Average array: "+str(mean_a))

Average array: [2.  8.4]

<b>Задание 2</b>
Вычислите массив a_centered, отняв от значений массива “а” средние значения соответствующих признаков, содержащиеся в массиве mean_a. Вычисление должно производиться в одно действие. Получившийся массив должен иметь размер 5x2.

In [32]:
import numpy as np
a = np.array ([[1,6],[2,8],[3,11],[3,10],[1,7]],dtype=np.float64)
mean_a = np.mean(a,axis=0)
print("Average array:\n "+str(mean_a))
a_centered = a - mean_a
print("Centered array:\n"+str(a_centered))

Average array:
 [2.  8.4]
Centered array:
[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]

<b>Задание 3</b>
Найдите скалярное произведение столбцов массива a_centered. В результате должна получиться величина a_centered_sp. Затем поделите a_centered_sp на N-1, где N - число наблюдений.

In [33]:
import numpy as np

a = np.array ([[1,6],[2,8],[3,11],[3,10],[1,7]],dtype=np.float64)
mean_a = np.mean(a,axis=0)
print("Average array:\n "+str(mean_a))

a_centered = a - mean_a
print("Centered array:\n"+str(a_centered))

vector1 = a_centered.T[0]
vector2 = a_centered.T[1]
print("Vector 1: "+str(vector1))
print("Vector 2: "+str(vector2))
a_centered_sp = vector1.dot(vector2)
n = vector1.size-1
a_centered_sp = a_centered_sp/n
print("Centered SP="+str(a_centered_sp))

Average array:
 [2.  8.4]
Centered array:
[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]
Vector 1: [-1.  0.  1.  1. -1.]
Vector 2: [-2.4 -0.4  2.6  1.6 -1.4]
Centered SP=2.0

<b>Задание 4**</b>
Число, которое мы получили в конце задания 3 является ковариацией двух признаков, содержащихся в массиве “а”. В задании 4 мы делили сумму произведений центрированных признаков на N-1, а не на N, поэтому полученная нами величина является несмещенной оценкой ковариации.
Подробнее узнать о ковариации можно здесь: https://studopedia.ru/9_153900_viborochnaya-kovariatsiya-i-viborochnaya-dispersiya.html
В этом задании проверьте получившееся число, вычислив ковариацию еще одним способом - с помощью функции np.cov. В качестве аргумента m функция np.cov должна принимать транспонированный массив “a”. В получившейся ковариационной матрице (массив Numpy размером 2x2) искомое значение ковариации будет равно элементу в строке с индексом 0 и столбце с индексом 1.

In [34]:
import numpy as np

a = np.array ([[1,6],[2,8],[3,11],[3,10],[1,7]],dtype=np.float64)
c = np.cov(a,rowvar=False,bias=False)

assert(c[0][1]==a_centered_sp)
print("Numpy covariance:\n "+str(c))

Numpy covariance:
 [[1.  2. ]
 [2.  4.3]]

# Тема “Работа с данными в Pandas”

<b>Задание 1</b>
Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].
Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные:  
[1, 1, 1, 2, 2, 3, 3],
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
[450, 300, 350, 500, 450, 370, 290]

In [35]:
import pandas as pd

author_id_series = pd.Series([1,2,3])
author_name_series = pd.Series(['Тургенев', 'Чехов', 'Островский'])
authores = pd.DataFrame({'author_id':author_id_series,'author_name':author_name_series})
print("Table of authores:\n"+str(authores))

author_id_relations = pd.Series([1, 1, 1, 2, 2, 3, 3])
book_title_series = pd.Series(['Отцы и дети', 'Рудин', 'Дворянское гнездо', 
                        'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'])
book_price_series = pd.Series([450, 300, 350, 500, 450, 370, 290]);
book = pd.DataFrame({'author_id':author_id_relations,'book_title':book_title_series,'price':book_price_series})
print("Table of books:\n"+str(book))

Table of authores:
   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский
Table of books:
   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

<b>Задание 2</b>
Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id</br>
(used docs: https://pandas.pydata.org/docs/user_guide/merging.html)

In [36]:
author_price = pd.merge(left=authores, right=book, how="inner",
                        left_on=authores['author_id'],right_on=book['author_id'])
print("Author price:\n"+str(author_price));

Author price:
   key_0  author_id_x author_name  author_id_y            book_title  price
0      1            1    Тургенев            1           Отцы и дети    450
1      1            1    Тургенев            1                 Рудин    300
2      1            1    Тургенев            1     Дворянское гнездо    350
3      2            2       Чехов            2      Толстый и тонкий    500
4      2            2       Чехов            2       Дама с собачкой    450
5      3            3  Островский            3                 Гроза    370
6      3            3  Островский            3  Таланты и поклонники    290

<b>Задание 3</b>
Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.</br>
(used docs: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html)

In [37]:
top5 = author_price.sort_values(by=['price'],ascending=False).head(5)
top5

   key_0  author_id_x author_name  author_id_y         book_title  price
3      2            2       Чехов            2   Толстый и тонкий    500
0      1            1    Тургенев            1        Отцы и дети    450
4      2            2       Чехов            2    Дама с собачкой    450
5      3            3  Островский            3              Гроза    370
2      1            1    Тургенев            1  Дворянское гнездо    350

<b>Задание 4</b>
Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя цена на книги этого автора.

In [38]:
import pandas as pd
import numpy as np
authors_stat = pd.DataFrame()
auth_function = lambda author : author.key_0

# Let's make author series:-------------------
author_series = pd.pivot_table(data=author_price,values="author_name",index='author_id_y',aggfunc=np.unique).sort_values(
    by=['author_id_y'],ascending=True)['author_name']

# Let's make max series:----------------------
max_series = pd.pivot_table(data=author_price,values="price",index='author_id_y',aggfunc=np.max).sort_values(
    by=['author_id_y'],ascending=True)['price']

# Let's make min series:----------------------
min_series = pd.pivot_table(data=author_price,values="price",index='author_id_y',aggfunc=np.min).sort_values(
    by=['author_id_y'],ascending=True)['price']

# Let's make mean series:---------------------
mean_series = pd.pivot_table(data=author_price,values="price",index='author_id_y',aggfunc=np.mean).sort_values(
    by=['author_id_y'],ascending=True)['price']

authors_stat = pd.DataFrame({
    'author_name':author_series,
    'min_price':min_series,
    'max_price':max_series,
    'mean_price':mean_series})

authors_stat

              author_name  min_price  max_price  mean_price
author_id_y
1              [Тургенев]        300        450  366.666667
2                 [Чехов]        450        500  475.000000
3            [Островский]        290        370  330.000000

<b>Задание 5**</b>
Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться данные о том, какая обложка у данной книги - твердая или мягкая. В этот столбец поместите данные из следующего списка:
['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].
Просмотрите документацию по функции pd.pivot_table с помощью вопросительного знака.Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. Используйте для этого функцию pd.pivot_table. При этом столбцы должны называться "твердая" и "мягкая", а индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.
Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl". Затем загрузите из этого файла датафрейм и назовите его book_info2. Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.

In [39]:
# Remaking author price:---------------------------------------
author_price = pd.merge(left=authores, right=book, how="inner",
                        left_on=authores['author_id'],right_on=book['author_id'])

# Adding the cover property:-----------------------------------
author_price['cover']=pd.Series(['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'])
print("Author price:\n"+str(author_price));


# Making aggregated table:-------------------------------------
book_info = pd.pivot_table(data=author_price,values="price",index=['cover','author_name'],aggfunc=np.sum)
print("\nBook info:\n"+str(book_info));

# Saving:------------------------------------------------------
book_info.to_pickle('book_info.pkl')
book_info2 = pd.read_pickle('book_info.pkl')

print("\nBook info2:\n"+str(book_info2))
print("\nDif result:\n"+str(book_info2.compare(book_info)))

Author price:
   key_0  author_id_x author_name  author_id_y            book_title  price  \
0      1            1    Тургенев            1           Отцы и дети    450
1      1            1    Тургенев            1                 Рудин    300
2      1            1    Тургенев            1     Дворянское гнездо    350
3      2            2       Чехов            2      Толстый и тонкий    500
4      2            2       Чехов            2       Дама с собачкой    450
5      3            3  Островский            3                 Гроза    370
6      3            3  Островский            3  Таланты и поклонники    290

     cover
0  твердая
1   мягкая
2   мягкая
3  твердая
4  твердая
5   мягкая
6   мягкая

Book info:
                     price
cover   author_name
мягкая  Островский     660
        Тургенев       650
твердая Тургенев       450
        Чехов          950

Book info2:
                     price
cover   author_name
мягкая  Островский     660
        Тургенев       650
твердая Тургенев       450
        Чехов          950

Dif result:
Empty DataFrame
Columns: []
Index: []